.themeContainer {
  cursor: pointer;
  border-radius: 1rem;
  transition: all 500ms ease-in-out;
  padding: 1rem;
}

.dark {
  background-color: var(--color-neutral-700);
}

.light {
  background-color: var(--color-neutral-100);
}

/* States */
.dark:hover,
.light:hover {
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
}

.dark:active,
.light:active {
  transform: scale(0.9);
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

/* Dark */
.dark:hover {
  background-color: var(--color-neutral-600);
}

/* Light */
.light:hover {
  background-color: var(--color-neutral-300);
}
