.section-wrapper {
  display: flex;
}

.filterbar {
  align-items: center;
  justify-content: space-between;
}

.extensionslist {
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  overflow-y: scroll;

  height: 58rem;
}

@media screen and (max-width: 768px) {
  .filterbar {
    flex-direction: column;
    row-gap: 1rem;
  }

  .extensionslist {
    height: 65rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .extensionslist {
    height: 46rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .extensionslist {
    height: 48rem;
  }
}

@media screen and (min-width: 1500px) {
  .extensionslist {
    overflow: auto;
    height: auto;
  }
}
